<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Downloader</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <div class="container navbar">
      <nav>
        <ul>
          <li><a href="/">YT Videos Saver</a></li>
        </ul>
      </nav>
    </div>

    <div class="mainForm">
      <h1>YouTube Video Downloader</h1>

      {% if error %}
      <div class="error">{{ error }}</div>
      {% endif %} {% if success %}
      <div class="success">
        Download successful!
        <a href="/downloads/{{ filename }}" download>Click here to download</a>
      </div>
      {% endif %}

      <form action="/" method="post" enctype="multipart/form-data">
        <label for="url">YouTube Video URL:--</label>
        <input
          type="text"
          name="url"
          id="url"
          placeholder="Enter YouTube Video URL"
          required
        />

        <label for="cookies">Upload Cookies (optional):</label>
        <input type="file" name="cookies" id="cookies" accept=".txt" />

        <button type="submit">Download Video</button>
      </form>

      <hr />

      <h2>Or Stream Directly to VLC</h2>
      <form action="{{ url_for('stream_video') }}" method="post">
        <label for="url">YouTube Video URL:</label>
        <input
          type="text"
          name="url"
          id="url"
          placeholder="Enter YouTube Video URL"
          required
        />
        <button type="submit">Stream to VLC</button>
      </form>
    </div>

    <footer class="footer">
      Created by <a href="https://my-portfolio-wine-one-81.vercel.app/">Me</a>
      <p>© 2024 Thakur</p>
    </footer>
  </body>
</html>
